{% extends "base.html" %}
{% load static %} 
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1><b>Автор</b></h1>
  <body >
    <p>
      <img src="{% static 'img/my_photo.jpeg' %}" width="250" height="300" align="left" />
        <br>
        Меня зовут Семёнов Сергей, мне 24 года. Я работаю в отделе технического учёта центра обработки данных. 
        В свободное от работы время я обожаю играть в волейбол и кататься на велосипеде. 
        В этом году я открыл для себя мир программирования и чуть не закрыл его забыв указать запятую в коде &#128513;.
        Если вы читаете это, значит мой проект запустился. Пожелаем ему удачного плавания. 
          <div align="center">
            <br>Для связи: 
            <br><b>telegram</b> @SeregaBrat
            <br><b>Почта</b> Raze.teatro2012@yandex.ru
          </div>
    </p>
  </body>
{% endblock %} 